{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name }} </h1>
  <p><strong>Birth date:</strong> {{ author.date_of_birth }}</p>
  {% if author.date_of_death %}
      <p><strong>Death date:</strong> {{ author.date_of_death }}</p>
  {% endif %}
  
  {% if books %}
  <ul>
  {% for book in books %}
     <li><h4><a href="{{book.get_absolute_url}}" >{{book.title}}</a></h4><p>{{book.summary}}</p></li>
  {% endfor %}
  </ul>
  {% endif %}
   
{% endblock %}
